* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kulim Park', sans-serif;
}
h1, p {
    color: #3b3b3b;
}
h1 {
    font-size: 52px;
    font-weight: 600;
}
p {
    font-size: 15px;
    font-weight: 400;
}
/* HEADER */
header {
    background: url(img/portada1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 570px;
}
.banner p {
    margin: 0 350px 0 350px;
    line-height: 20px;
    margin-top: 20px;
}
.banner h1 {
    margin-top: 200px;
}
.btnSolido {
    margin-top: 70px;
    padding: 20px 40px;
    border-radius: 40px;
    background-color: #cb384a;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.btnSolido:hover {
    background-color: #BC283F;
}
/* NAVBAR */
.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}
.logo img {
    width: 250px;
    margin-left: 200px;
}
.tiendaLinks a {
    padding: 0 20px;
    color: #3b3b3b;
    text-decoration: none;
}
.tiendaLinks {
    margin-right: 50px;
    margin-top: 10px;
    font-size: 20px;
}
.tiendaLinks a:last-child {
    padding: 0 0 0 20px;
}
.tiendaLinks a:hover, .search-btn i:hover {
    color: #cb384a;
}
/* SEARCH */
.box {
    position: absolute;
    bottom: 28px;
    right: 150px;
    margin-right: 30px;
    height: 40px;
    border-radius: 40px;
    padding: 0;
}
.search-texto {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    font-size: 15px;
    color: #3b3b3b;
    line-height: 40px;
    width: 0px;
    padding: 0 0 0 20px;
}
.box:hover {
    background-color: rgba(244, 244, 244, 1);
}
.box:hover > .search-texto {
    width: 250px;
}
.search-btn i {
    color: #3b3b3b;
    float: right;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* MENU */
#menu {
    width: 200px;
    height: 550px;
    position: fixed;
    background-color:#fff;
    border-radius: 0 0 50px 0;
    left: -200px;
    top: 0;
    z-index: 2;
    transition: 0.5s ease-in ;
}
.hamburguesa ul li {
    list-style: none;
    margin: 20px 50px;
}
.hamburguesa ul li:first-child {
    margin-top: 80px;
}
.hamburguesa ul li a {
    text-decoration: none;
    color: #3b3b3b;
    font-weight: 200;
}
.hamburguesa ul li a:hover {
    color: #cb384a;
    font-weight: 600;
}
#menuBtn {
    position: fixed;
    z-index: 2;
    left: 50px;
    top: 30px;
    font-size: 20px;
    cursor: pointer;
}
#menuBtn:hover {
    color: #cb384a;
}
/* PRODUCTOS */
.contenedor {
    width: 95%;
    max-width: 1400px;
    margin: auto;
    overflow: hidden;
    height: 100vh;
    padding: 75px 0;
    text-align: center;
}
.productos {
    margin-bottom: 20px;
}
.productos h1, .instagram h1 {
    margin-top: 50px;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: space-around;
    align-items: center;
}
.productos-ind, .instagram-ind {
    width: 18%;
    height: 400px;
    position: relative;
    cursor: pointer;
}
.productos-ind img, .instagram-ind img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.producto-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(203, 56, 84, 0.5);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.producto-hover p {
    color: #fff;
    font-size: 30px;
    font-weight: 200;
}
.productos-ind:hover .producto-hover {
    transform: scale(1);
}
/* CALIDAD */
.calidad {
    background: url(img/calidad.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.calidad h1 {
    color: #cb384a;
    margin-top: 150px;
}
.calidad p {
    color: #fff;
    font-weight: 200;
}
.bannerTexto {
    margin-left: 50px;
}
/* INSTAGRAM */
.instagram-grid {
    margin-top: 100px;
}
.instagram-ind {
    width: 300px;
    height: 300px;
}
.btn-flecha {
    border: none;
    color:#cb384a;
    font-size: 40px;
    background: transparent;
    cursor: pointer;
}
/* FOOTER */
footer {
    height: 200px;
}
.banner-footer {
    flex-direction: row;
    border: 1px solid #fff;
    height: 200px;
}
.footer-ind {
    flex: 1;
    text-align: center;
}
.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 20px;
}
.footer-social i {
    padding: 0 10px;
}
.footer-ind h2{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #cb384a;
}
.footer-ind a, .footer-ind i {
    display: block;
    text-decoration: none;
    color: #3b3b3b;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer-ind a:hover, .footer-ind i:hover {
    color: #cb384a;
    cursor: pointer;
}
.banner-footer {
    background-color: #f2f2f2;
}