:root {
    --mainTransition: all 0.3s linear;
}
p {
    margin-bottom: 0;
}
.productos {
    padding: 4rem 0;
}
.tituloProductos h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
}
.grillaProductos {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}
.imagenContenedor {
    position: relative;
    overflow: hidden;
}
.bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: var(--rosa);
    color: var(--blanco);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    transition: var(--mainTransition);
    transform: translateX(101%);
    cursor: pointer;
}
.bag-btn:hover {
    background: var(--verde);
    color: var(--blanco);
}
.fa-shopping-cart {
    margin-right: 0.5rem;
}
.imagenContenedor:hover .bag-btn {
    transform: translateX(0);
}
.imagenProducto {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: var(--mainTransition);
}
.producto h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: center;
}
.producto h4 {
    margin-top: 0.7rem;
    font-size: 1rem;
    color: var(--gris);
    text-align: center;
}
/* --------------- Cart ---------------- */
.cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: var(--mainTransition);
    background: rgb(240, 157, 81, 0.5);
    z-index: 2;
    visibility: hidden;
}
.cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 3;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: var(--mainTransition);
    transform: translateX(100%);
}
.showCart {
    transform: translateX(0);
}
.transparentBcg {
    visibility: visible;
}
@media screen and (min-width: 768px) {
    .cart {
      width: 30vw; /* solo cuando no sea mobile va a tener un ancho definido, 30% pero minimo 450px */
      min-width: 450px;
    }
}
.close-cart {
    font-size: 1.7rem;
    cursor: pointer;
}
.cart h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
}
/*---------- Cart Item -------------------- */
.cart-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto; /* el div este tiene 3 hijos: la foto, la descripcion y el contador. le digo que tome lo que sea que mida la img por eso auto, lo mismo para el contador, y que lo que quede de espacio se lo de a la columna con la descripcion */
    grid-column-gap: 1.5rem;
    margin: 1.5rem 0;
}
.cart-item img {
    width: 75px;
    height: 75px;
}
.cart-item h4 {
    font-size: 1.3rem;
    text-transform: capitalize;
}
.cart-item h6 {
    margin: 0.5rem 0;
    font-size: 1rem;
}
.item-amount {
    text-align: center;
}
.remove-item {
    color: var(--gris);
    font-weight: 200;
    cursor: pointer;
    font-size: 1rem;
}
.fa-chevron-up, .fa-chevron-down {
    color: var(--rosa);
    cursor: pointer;
}
.fa-chevron-up:active, .fa-chevron-down:active {
    color: var(--verde);
}
/*---------- Cart footer -------------------- */
.cart-footer {
    margin-top: 2rem;
    text-align: center;
}
.cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.banner-btn {
    padding: 1rem 3rem;
    text-transform: uppercase;
    font-size: 1rem;
}